@mixin fontMain {
  font: {
    family: "Averta", sans-serif;
    style: normal;
    weight: 400;
    size: 16px;
  }

  line-height: 26px;
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: $retina-resolution) {
    @content;
  }
}