$white: rgba(255, 255, 255, 1);
$pink: #FEF4FF;
$blue: rgba(57, 128, 255, 1);
$red: rgba(235, 87, 87, 1);



// Viewports

$desktop-width: 1600px;
$mobile-width-only: 1599px;

//retina

$retina-resolution: 2dppx;
